<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145284042800-okjo8aq5t0lrc9lnlajshg71tqt59ppc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145284042800-okjo8aq5t0lrc9lnlajshg71tqt59ppc</string>
	<key>API_KEY</key>
	<string>AIzaSyCDgm5RCdzi7fmzBlwV-ik6RYSchbOOsc8</string>
	<key>GCM_SENDER_ID</key>
	<string>145284042800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronanfuruta.arrival</string>
	<key>PROJECT_ID</key>
	<string>arrival-bart</string>
	<key>STORAGE_BUCKET</key>
	<string>arrival-bart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145284042800:ios:6b5f35299e0aa686bfddf5</string>
	<key>DATABASE_URL</key>
	<string>https://arrival-bart.firebaseio.com</string>
</dict>
</plist>