<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>onboarding4Tagline</key>
	<string>Arrival uses your location to determine the closest BART station and automatically show realtime predictions. (We never store or share your location)</string>
	<key>onboarding4Heading</key>
	<string>Smart suggestions</string>
	<key>tripviewStationLineLimit</key>
	<string>2</string>
	<key>destinationStationText</key>
	<string>stops to destination...</string>
	<key>transferStationText</key>
	<string>stops to transfer...</string>
	<key>cycleTimer</key>
	<string>30</string>
	<key>termsOfServiceUrl</key>
	<string>https://arrival.city/termsofservice.html</string>
	<key>privacyPolicyUrl</key>
	<string>https://arrival.city/privacypolicy.html</string>
	<key>realtimeTripsNotice</key>
	<string>Trip data is currently based on BART&apos;s scheduled departure times and not realtime data. Future updates will enable realtime trip data.</string>
	<key>aboutText</key>
	<string>Arrival is an open source app developed by Ronan Furuta. If you have any feedback or suggestions please email support@arrival.city</string>
	<key>onboarding3Tagline</key>
	<string>Because Arrival generates some pretty personal information, your daily commute, we store all of your information on device with optional, anonymous, cross device syncing.</string>
	<key>onboarding3Heading</key>
	<string>Anonymous</string>
	<key>onboarding1Tagline</key>
	<string>The BART app for commuters</string>
	<key>onboarding2Tagline </key>
	<string>Arrival harnesses modern technologies in order to receive schedules and make predictions without using tons of cellular data.</string>
	<key>onboarding1Heading</key>
	<string>Welcome to Arrival</string>
	<key>onboarding2Heading</key>
	<string>Low Data Usage</string>
	<key>apiurl</key>
	<string>https://api.arrival.city</string>
</dict>
</plist>
