<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INIntentsSupported</key>
	<array>
		<string>TrainsFromStationIntent</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>TrainsFromStationIntent</string>
		<string>TrainsToStationIntent</string>
	</array>
</dict>
</plist>
